force-app/main/default/flows/Accelerator_Benefits_Scheduler_Create_a_Shift_from_Sessions_with_Work_Types.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>When a Session is scheduled, that also is associated to a Work Type, create a Shift for Scheduler to allow for clients to signup for that Shift.</description>
    <environments>Default</environments>
    <interviewLabel>Accelerator: Benefits Scheduler - Create a Shift from Sessions with Work Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accelerator: Benefits Scheduler - Create a Shift from Sessions with Work Types</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This Session is associated to a Benefit with a Work Type, which means we need to create a Shift for scheduling these Benefits</description>
        <name>Create_a_Shift</name>
        <label>Create a Shift</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Shift_Work_Topic</targetReference>
        </connector>
        <inputAssignments>
            <field>AppointmentCategoryId</field>
            <value>
                <elementReference>$Record.BenefitSchedule.Benefit.Work_Type__r.AppointmentCategoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefit_Session__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>$Record.BenefitSchedule.Benefit.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.BenefitSchedule.Benefit.Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.BenefitSchedule.Benefit.Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSlotType</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <object>Shift</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shift_Work_Topic</name>
        <label>Create Shift Work Topic</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AreAllTopicsSupported</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShiftId</field>
            <value>
                <elementReference>Create_a_Shift</elementReference>
            </value>
        </inputAssignments>
        <object>ShiftWorkTopic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Work_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BenefitSession</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
